.users {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
}

.users ul {
  list-style: none;
  padding: 1rem;
}

.users h2 {
    padding: 1rem;
    text-align: center;
}

.users li {
  background: #4f005f;
  border-radius: 5px;
  color: white;
  text-align: center;
  margin: 0.5rem 0;
  padding: 0.5rem;
  cursor: pointer;
}

